.site-header {
  @include transition(0.3);
  position: relative;
  @include header_setup();
  border-bottom: calc(3 * var(--1px-rem)) solid var(--clr-primary);
  background-color: var(--text-secondary);
  isolation: isolate;
  --header-height: var(--space-xl);
  height: var(--header-height);

  &_container {
    @extend .flex-row;
    height: 100%;
  }
}

.logo {
  height: 100%;

  &_inner {
    height: 100%;
    @include hover();
  }

  &_img {
    @include transition(0.2);
    height: 100%;
  }

  &_text {
    @include transition(0.2);
    margin: 0;
    width: max-content;
    font-size: var(--h3-size);
    font-weight: bold;
    font-family: var(--font-secondary);

    @include max_mq(sm) {
      display: none;
    }
  }

  &--secondary {
    .logo_img {
      fill: var(--text-secondary);
    }

    .logo_text {
      color: var(--text-secondary);
    }
  }
}

.navbar {
  position: fixed;
  display: flex;
  visibility: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--clr-primary-600);
  width: 80%;
  bottom: 0;
  right: -100%;
  top: var(--header-height);
  margin: 0;
  transition: 0.2s ease-out;
  overflow-y: auto;
  z-index: -1;

  &[data-active="true"] {
    visibility: visible;
    right: 0;
  }

  &_list {
    margin-top: (var(--space-lg));
    margin-bottom: (var(--space-xl));

    @include min_mq(sm) {
      @include no_children_top_margin();
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      row-gap: var(--space-lg);
      column-gap: var(--space-xl);
      width: 100%;
      @include padding_x(15%);
    }

    @include min_mq(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include min_mq(xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &_category {
    color: var(--text-secondary);
    font-weight: 600;
    font-size: var(--h3-size);
    text-transform: capitalize;
    @include hover-line(var(--text-secondary), $transition: 0.1s ease-out);
  }

  &_subcategories {
    margin-left: var(--space-sm);
    --siblings-margin-y: var(--space-xxxs);
    @include flex(column, flex-start, flex-start);
  }

  &_subcategory {
    text-transform: capitalize;
    font-size: var(--p-size);
    font-weight: 300;
    color: var(--text-secondary);
    --siblings-margin-y: var(--space-xs);
    @include hover-line(var(--text-secondary), $transition: 0.1s ease-out);
  }
}
