//m for main color that will be without the letter
$colors: (
    primary: (
        100:hsl(0, 60%, 90%),
        200:hsl(0, 65%, 78%),
        300:hsl(0, 75%, 66%),
        400:hsl(0, 78%, 54%),
        500:hsl(0, 86%, 42%),
        600:hsl(0, 88%, 32%)
    ),
    accent-1: (
        400: hsl(200, 64%, 50%),
        500: hsl(203, 69%, 40%),
        600: hsl(216, 75%, 28%)
    ),
    bw: (
        0:hsl(0, 0%, 96%),
        100:hsl(0, 0%, 90%),
        300:hsl(0, 0%, 75%),
        500:hsl(0, 0%, 60%),
        700:hsl(0, 0%, 37%),
        1000:hsl(0, 0%, 15%)
    )

);

$variables: map-merge($variables,(
    --text-primary: var(--clr-bw-1000),
    //if the primary was actual color 600 would be darker,
    //and 400 lighter, but it is black, so it cannot get darker
    //but we still respect the rule
    --text-primary-300: var(--clr-bw-700),
    --text-secondary: var(--clr-bw-0),
    --clr-primary-opacity: hsla(0, 86%, 42%, .8)
));

